In [20]:
import pandas as pd
import hygia as hg

In [ ]:
pre_process_data = hg.PreProcessData()
feature_engineering = hg.FeatureEngineering()
rf_model = hg.RandomForestModel(model_file='../data/RandomForest_Ksmash_WordEmbedding.model')

In [7]:
df = pd.read_csv('../data/AI_LATA_ADDRESS_MEX_modificado.csv', sep='¨', nrows=10_000).sample(frac=0.1).reset_index(drop=True)

concatened_column_name = 'concat_STREET_ADDRESS_1_STREET_ADDRESS_2'

pre_process_data.pre_process_data(df, ['STREET_ADDRESS_1', 'STREET_ADDRESS_2'], concatened_column_name)
feature_engineering.extract_features(df, concatened_column_name)
df.iloc[:,-30:].columns

/var/folders/1_/63pltp5131g47ksfj6qtslzh0000gp/T/ipykernel_20313/2795826744.py:1: ParserWarning: Falling back to the 'python' engine because the separator encoded in utf-8 is > 1 char long, and the 'c' engine does not support such separators; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('../data/AI_LATA_ADDRESS_MEX_modificado.csv', sep='¨', nrows=10_000).sample(frac=0.1).reset_index(drop=True)

Index(['feature_ks_count_sequence_squared_vowels_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_ks_count_sequence_squared_consonants_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_ks_count_sequence_squared_special_characters_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_ks_ratio_of_numeric_digits_squared_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_ks_average_of_char_count_squared_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_0_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_1_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_2_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_3_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_4_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_5_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_6_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_7_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_8_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_9_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_10_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_11_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_12_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_13_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_14_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_15_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_16_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_17_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_18_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_19_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_20_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_21_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_22_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_23_concat_STREET_ADDRESS_1_STREET_ADDRESS_2',
       'feature_we_24_concat_STREET_ADDRESS_1_STREET_ADDRESS_2'],
      dtype='object')

In [8]:
df['prediction'] = rf_model.predict(df.iloc[:,-30:])
df[df['prediction']== 0][[concatened_column_name, 'prediction']]

/Users/leonardogomes/Documents/dell/Playground/env/lib/python3.9/site-packages/sklearn/base.py:402: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

              concat_STREET_ADDRESS_1_STREET_ADDRESS_2  prediction
0                           TEXTITLáN 40 INT. 101EMPTY         0.0
1    BEGONIAS 180 FRACC DALIAS SA BEGONIAS 180 FRAC...         0.0
2                                    SANTIAGO 242EMPTY         0.0
3    YAMAHA BAJA MOTOR SPORT- FCO VILLA, MORALES Y ...         0.0
4                       AVENIDA BENITO JUAREZ 318EMPTY         0.0
..                                                 ...         ...
995   JUAREZ 77, CUITZEO PONCITLAN ESTANCIA DE CUITZEO         0.0
996         MIGUEL DE CERVANTES 301 TORRE SUR. PISO 14         0.0
997              fuente de la juventud 304 LAS FUENTES         0.0
998  FCO VILLA IV ED 6EMPTY402 FOVI FCO VILLA IV ED...         0.0
999                GUILLERMO PRIETO 43 COL. DON PEDRO          0.0

[1000 rows x 2 columns]

In [ ]:
import hygia as hg

result = hg.run_with_config('../config/default_config.yaml')

result